@media (max-width: 67em) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 52em) {
  html {
    font-size: 45%;
  }

  input {
    font-size: 1.5rem;
  }
}

@media (max-width: 40em) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 31em) {
  .container {
    flex-direction: column;
    width: 80%;
    height: 95%;
  }

  .yoga-text-box {
    padding: 5rem;
    overflow: scroll;
  }
}

@media (max-width: 24em) {
  .container {
    width: 80%;
    height: 90%;
    flex-direction: column;
  }

  .yoga-text-box {
    padding: 2rem;
  }

  .yoga-img-box {
    background-position: center;
  }

  input {
    font-size: 1.5rem;
  }
}
